<header>
  <div class="logo-container">
    <img src="images/ex logo.jpg" alt="Logo" />
  </div>
  <div class="desktopNavbar-container">
    <ul class="nav-desk">
      <a>Servicios empresariales</a>
      <a>Nosotros</a>
      <a>Contactanos</a>
      <a>Acceder</a>
    </ul>
  </div>
</header>
